#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_calcoin
#build/calcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_calcoin)

DEB_INSTALL_EXAMPLES_calcoind += debian/examples/*
DEB_INSTALL_MANPAGES_calcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 calcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f calcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake calcoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_calcoin
	#src/test_calcoin

# Ensure wrapper is set executable
binary-post-install/calcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/calcoind
binary-post-install/calcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/calcoin-qt
